*{
    margin: 0;
}
body{
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    background-color: slategray;
    font-size: 115%;
}
header{
    background-color: rgb(255, 74, 43);
    height: 45px;
}
main h2{
    text-align: center;
}
#section1{
    font-size: 90%;
}